.card {
    display: flex;
    margin-top: 25px;
}

.hotelName {
    margin-top: 0px;
}

.insideCard {
    margin-left: 3%;
    width: 70%;
    margin-top: 20px;
}

.save {
    display: flex;
    /*flex-wrap: wrap;*/
    margin-top: -10px;
}

.like {
    margin-left: 101%;
}

.checkIn {
    margin-top: -28px;
    color: #878787;
}

.tire {
    margin-left: 5%;
}

.tire2 {
    margin-left: 5%;
}

.wrapPrice {
    display: flex;
    margin-top: -37px;
    margin-left: 70%;
}

.price {
    margin-left: -25%;
    color: #878787;
    width: 28px;
    height: 18px;
}

.valut {
    margin-left: 20px;
}

.icon {
    width: 64px;
    height: 64px;
    background: rgba(65, 82, 46, 0.05);
    border-radius: 40px;
    margin-top: 20px;
}

.roof {
    margin-left: 21%;
    margin-top: 15%;
}

.house {
    margin-left: 29%;
    margin-top: -27%;
}

.rating {
    margin-left: -2%;
    margin-top: -17px;
    width: 130%;
}
